{% extends 'webpage/base.html' %}
{% block main %}
{% load widget_tweaks %}
		<div class="main-panel">        
			<div class="content-wrapper">
				<div class="col-12 grid-margin stretch-card">
					<div class="card">
						<div class="card-body">
							<h4 class="card-title">Upload Software</h4>
							<br><br>

							<form class="forms-sample" method="POST" enctype="multipart/form-data">
								{% csrf_token %}
								<div class="form-group">
									<label for="exampleInputName1">Software Name</label>
									{{form.software_name|attr:"class:form-control" |attr:"id:exampleInputName1" |attr:" placeholder:Software Name"|attr:" name:software_name"}}
									<!-- <input type="text" class="form-control" id="exampleInputName1" placeholder="Software Name" name="software_name"> -->
								</div>

								<div class="form-group">
									<label>File upload</label>									
									<div class="input-group col-xs-12">
										{{form.software_location|attr:"name:myfile"|attr:"class:file-upload-browse btn btn-primary"}}
										<!-- <input type="file" name="myfile" class="file-upload-browse btn btn-primary"> -->
										
									</div>
								</div>

								<div class="form-group">
									<div class="form-check">
										<label class="form-check-label">
											<input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="123" name="all">
											Upload To All Computers
										</label>
										
										<div class="form-check">
											<label class="form-check-label">
												<input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="456" data-toggle="modal" data-target="#exampleModal-2">
												 Upload To Selected Computer 
											</label>
											
											<div class="modal fade" id="exampleModal-2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-2" aria-hidden="true">
												<div class="modal-dialog" role="document">
													<div class="modal-content">
														<div class="modal-header">
															<h5 class="modal-title" id="exampleModalLabel-2">All Available Computers</h5>
															<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																<span aria-hidden="true">&times;</span>
															</button>
														</div>
														<div class="form-group" style="margin-left: 35px;">
															<div class="form-check">
																<label>
																	<input type="checkbox" name="2173230" value="PC - 2173230">
																	PC - 2173230
																</label>
															</div>
															<div class="form-check">
																<label>
																	<input type="checkbox" name="2173231" value="PC - 2173231">
																	PC - 2173231
																</label>
														  </div>

														</div>
													  </div>
														<div class="modal-footer">
															<button type="button" class="btn btn-success">Done !</button>
														</div>
												  </div>
												</div>
											</div>


										</div>
								</div>

								<button type="submit" class="btn btn-primary mr-2">Submit</button>
								<button class="btn btn-light">Cancel</button>
							</form>
						</div>
					</div>
				</div>
			</div>
{% endblock %}